*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    position: relative;
    background-image: url(./assets/banner-bg.png);
    background-size: cover;
    height: max-content;
    width: 100%;
}
.home{
    color: orange;
    text-decoration: none;
}
.navbar-brand
{
    margin-left: 5%;
    margin-right: 20%;
}
.header{
    position: fixed;
    width: 100%;
    background-image: url(./assets/banner-bg.png);
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: space-around;
}
 .nav-link
 {
    color: white;
 }
.main-banner{
    margin: auto;
    display: flex;
    align-items: center;
    height: 100vh;
}
.banner1 , .banner2{
    width: 50%;
}
.title , .title2{
    font-size: 65px; 
    color: white;
    font-weight: 300;
}
 .title2{
    font-weight: bold !important;
}
.banner2 img{
    width: 100%;
}
.banner1 p {
    margin:35px 0;
    color: white;
    font-size: 20px;
}
.banner1 button{
    color: white;
    background-color: rgb(212, 87, 9);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
}
.Discover, .Information{
    display: flex;
    margin:100px auto;
    width: 80%;
    align-items: center;
}
.c1box1 ,.c1box2{
    width: 50%;
}
.c1box1 img{
    width: 100%;
    padding: 20px;
}
.c1one{
    font-size: 25px;
    font-weight: bold;
}   
.c1two{
    font-size: 16px;
    margin: 25px 0;
}
.c2box2 , .c2box1{
    width: 50%;
}
.c2box2 img
{
    width: 100%;
}
.box1 , .box2 , .box3 {
    display: flex;
}
.c2box1 .img{
    width: 20%;
    height: 50%;
    border-radius: 50%;
    padding: 5px;
}
.img img{
    width: 100%;
    object-fit: contain;
}
.Information p{
    font-size:16px;
}
.box3 a{
    text-decoration: none;
    color: blue;
}
.c1button{
    background-color:rgba(29, 115, 115, 0.748);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
}
.container3{
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(102, 174, 199),rgb(54, 118, 182));
    padding: 50px 10%;
    display: flex;
    justify-content: space-between;
}
[class ^= "c3"]
{
    padding: 20px 10px;
    width: 28%;
    display: flex;
    gap:20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
[class ^= "c3"] .img{
    width: 25%;
    padding: 15px;
    border-radius: 50%;
    background-color:  rgb(102, 174, 199);
}
[class ^= "c3"] .img img {
    width: 100%;
}
[class ^= "c3"] p{
    text-align: center;
}
[class ^= "c3"] button , .C4button{
    background-color: rgb(102, 174, 199);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    width: fit-content;
}
.Question{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 80px auto;
}
.Question p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.516)
}
.c4{
    width: 80%;
    margin: auto;
    display: flex;
}
.c4box1
{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
    padding:10px;
}
.c4box2{
    width: 50%;
}
.Map-form{
    display: flex;
}
.c5box1{
    width: 50%;
}
.c5box1 iframe{
    width: 100%;
}
.c5box2{
    width: 50%;
    background:linear-gradient(to bottom right,  rgb(140, 198, 217),rgb(19, 58, 97));
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.input1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.input2{
    width: 100%;
}
.input1 div
{
    width: 45%;
}
.input1 [type ="text"]{
    padding: 10px;
    width: 100%;
}
.input2 textarea{
    width: 100%;
    padding: 5px;
}
input , textarea{
    background-color: rgba(124, 163, 195, 0.533);
    border: none;
    color: white;
}
::placeholder{
    color: white;
}
.c5box2 button{
    background-color: rgba(250, 111, 36, 0.815);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    width: fit-content;
}
.footer{
    margin: 50px 12%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 3%;
}
.footer a , .container4 a{
    text-decoration: none;
}
.foot2{
    display: flex;
    gap:15px;
}
.foot2 a{
    font-size: 25px;
}
.footer p{
    margin: 0;
}
.carousel-indicators [data-bs-target] {
    width: 5px ;
    height: 5px;
    border-radius: 50%;
}
.carousel-indicators .active{
   width: 7px;
   height: 7px;
}
@media screen and (max-width:424px){
    .main-banner
    {
        flex-direction: column;
        height:160vh;
        justify-content: center;
    }
    .title , .title2{
        font-size: 30px; 
        color: white;
        font-weight: 300;
    }
    .Discover
    {
        flex-direction: column;
    }
    .c1box1,.c1box2
    {
        width: 100%;
    }
    .Information
    {
        flex-direction: column;
    }
    .c2box2 , .c2box1{
        width: 100%;
    }
    .c2box1 .img{
        width: 100%;
        height: 50%;
        border-radius: 50%;
        padding: 5px;
    }
    [class ^= "c3"]
    {
        width: 95%;
    }
    .container3
    {
        flex-direction: column;
        gap: 20px;
    }
    .c4
    {
       flex-direction: column;
       gap:20px;
       width: 100%;
    }
    .c4box1,.c4box2
    {
       width: 100%;
    }
    .Map-form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .c5box1,.c5box2
    {
        width: 95%;
    }
    .footer
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        text-align: center;
    }
     .foot2
     {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
     }
}
@media screen and (min-width:425px) and (max-width:768px){
    .main-banner
    {
        flex-direction: column;
        height:150vh;
        justify-content: center;
    }
    .title , .title2{
        font-size: 40px; 
        color: white;
        font-weight: 300;
    }
    .Discover
    {
        flex-direction: column;
    }
    .c1box1,.c1box2
    {
        width: 100%;
    }
    .Information
    {
        flex-direction: column;
    }
    .c2box2 , .c2box1{
        width: 100%;
    }
    .c2box1 .img{
        width: 20%;
        height: 50%;
        border-radius: 50%;
        padding: 5px;
    }
    [class ^= "c3"]
    {
        width: 100%;
    }
    .container3
    {
        gap: 20px;
    }
    .c4
     {
        flex-direction: column;
        gap:20px;
        width: 100%;
     }
     .c4box1,.c4box2
     {
        width: 100%;
     }
    .Map-form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .c5box1,.c5box2
    {
        width: 95%;
    }
    .footer
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        text-align: center;
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    .main-banner
    {
        width: 80%;
        height: 120vh;
        justify-content: center;
        align-items: center;
    }
    .c2box1 .img{
        width: 30%;
        height: 50%;
        border-radius: 50%;
        padding: 5px;
    }
}
@media screen and (min-width:1025px){
    .main-banner
    {
        width: 90%;
    }
}